<%= link_to "My Profile", profile_path(@user) %> 
<%= link_to "All meetups", meetups_path %>
<%= link_to "Logout", logout_path, method: :delete %> 
<br>


<h3> Meetup Dashboard</h3>
  
<h4>Today's meetups </h4>
  
  @todaymeetups

<h4>This weeks meetups </h4>

Meetups by cohort 

Meetups by location

Meetup by host 

Most popular meetup location 

Most popular meetup day

Most popular meet up time  