<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well meetup">
        <h2> All Meetups </h2>
        <% @meetups.each do |meetup| %>
          <div class="row">
            <p>
            <div class="col-md-12">
              <div class="col-md-6 col-sm-4"><%= link_to meetup.title, meetup_path(meetup), class: "link-ellipsis-short" %></div>
              <div class="col-md-4 col-sm-4"><%= meetup.date %></div>
              <div class="col-md-2 col-sm-4"><%= meetup.extract_time %></div>
            </div>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
