<h3> Meetup Dashboard</h3>

Today's meetups 

This weeks meetups 

Meetups by cohort 

Meetups by location

Meetup by host 

Most popular meetup location 

Most popular meetup day

Most popular meet up time  