@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
  background: url('triangular.png');
  padding-top: 85px;
}

h1 {
  font-size: 60px;
}

p {
  word-wrap: break-word;
}

.navbar {
  padding-top: 4px;
  padding-bottom: 4px;
}

.li-navbar {
  padding-top: 6px;
}

.li-navbar-search {
  padding-top: 2px;
}

h1 {
  font-size: 60px;
}

.profile {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile h2, .cohort h2, .location h2, .users h2 {
  color: inherit;
}

.link-ellipsis {
  display: block;
  white-space: nowrap;
  width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-info {
  bottom: 15%;
}

#login {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 10%;
  background: #f2f2f2;
}

.font-large {
  font-size: 3em;
}

.form-control-short {
  height: 30px;
}

.btn-sm {
  font-size: 10px;
  line-height: 1.33;
  padding: 10px 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

textarea.form-control {
  height: 150px;
  resize: none;
}
