<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well location">
        <h2> Locations </h2> <br/>
        <% @locations.all.each do |location| %>
          <p><%= location.name %></p><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
